<app-top-navbar></app-top-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <nz-card
    nzTitle="Forgot Password"
    [nzBordered]="false"
    class="card"
    nzType="inner"
  >
    <form nz-form class="example-form" (ngSubmit)="redirectUser()">
      <nz-form-item class="example-full-width form-group">
        <nz-form-control nzErrorTip="Password is required">
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              [formControl]="email"
              placeholder="Username"
              class="form-control"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" class="btn btn-primary btn-block">
        Submit
      </button>
    </form>
  </nz-card>
</div>
