.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.notification-modder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  .notification-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .notification-inner-2 {
    justify-content: flex-start;
  }
}
