<app-top-navbar></app-top-navbar>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <nz-card
    nzTitle="Reset Password"
    [nzBordered]="false"
    class="card"
    nzType="inner"
  >
    <form
      nz-form
      class="example-form"
      [formGroup]="form"
      (ngSubmit)="resetPassword()"
    >
      <nz-form-item class="example-full-width form-group">
        <nz-form-control nzErrorTip="Password is required">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="password"
              class="form-control"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="example-full-width form-group">
        <nz-form-control nzErrorTip="Re-Enter Password is required">
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="reEnteredpassword"
              placeholder="re-enter password"
              class="form-control"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button nzType="primary" class="btn-block">Submit</button>
    </form>
  </nz-card>
</div>
